:root {
    --mainColor: #213F69;
    --secondColor: #16263b;
    --accentColor: #fff;
    --btnColor: #3e8030;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--accentColor);
}
