:root {
    --mainColor: #213F69;
    --secondColor: #16263b;
    --accentColor: #fff;
    --btnColor: #3e8030;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--accentColor);
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2em;
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    min-width: 100%;

    & a {
        color: var(--accentColor);
        text-decoration: none;
    }

    & .nav__container ul {
        display: flex;
        list-style: none;
        gap: 12px;

        & li {
            font-size: 1.2rem;
        }

        & li a {
            color: var(--accentColor);
            text-decoration: none;
        }
    }
}

.main__container {
    scroll-margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    background-color: var(--secondColor);
    padding: 3em;

    & img {
        border-radius: 25px;
    }

    & .text__container {
        max-width: 50ch;
        text-align: center;
    }
}


.form__container {
    scroll-margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: var(--secondColor);
    padding: 3em;

    & form {
        display: grid;
        border: 5px solid #fff;
        padding: 2em;
        border-radius: 25px;
        gap: 12px;
        width: 50vw;

        & input {
            width: 100%;
            padding: 0.5em 0.4em;
            border-radius: 12px;
        }

        & > div {
            display: grid;
            gap: 12px;
        }

        & button {
            padding: 0.5em 0.4em;
            color: var(--accentColor);
            background-color: var(--btnColor);
            font-size: 1.2rem;
            border-style: none;
            border-radius: 12px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}
